{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- CSS Files-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

        <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600;700;900&family=Open+Sans&display=swap" rel="stylesheet"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"/>

        <script src="https://kit.fontawesome.com/1f06dfeacc.js" crossorigin="anonymous"></script>

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Google books search software</title>
        {% endif %}
    </head>
    <body style="text-align: center; background-color: #016475;">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Top 5 Books
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalbody">
                        Search for a book first!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="font-family: 'Crimson Pro', serif; padding: 2vh;">
            <div class="container headerbox">
                <h1>Ferdi Salim Sungkar<br />Google Books API</h1>
            </div>
            <div class="container searchbox">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form class="card card-sm" id="searchForm">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div>
                                <!--end of col-->
                                <div class="col">
                                    <input id="searchInput" class="form-control form-control-dark form-control-lg form-control-borderless" type="search" placeholder="Search Book"/>
                                </div>
                                <!--end of col-->
                                <div class="col-auto">
                                    <button class="btn btn-lg btn-success" type="submit">
                                        Search
                                    </button>
                                </div>
                                <!--end of col-->
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <!-- Button trigger modal -->
                        <button onclick="modal()" id="modalbutton" type="button" class="btn btn-lg btn-huge" data-toggle="modal" data-target="#exampleModal">
                            See
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            </div>
            <div class="container" style="padding: 3vh;">
                <div class="table-responsive" id="result"></div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </body>
    <script>
        var likes;
        var likehtml;
        var response;
        var isSearched = false;
        var search;
        $(document).ready(function () {
            $("#searchForm").submit(function () {
                search = $("#searchInput").val();
                if (search == "") {
                    alert("Please enter something in the field first");
                } else {
                    $("#result").text("");
                    $("#modbtnlabel").text("Top 5 '" + search + "' books");
                    isSearched = true;
                    likes = [
                        [0, 0],
                        [0, 1],
                        [0, 2],
                        [0, 3],
                        [0, 4],
                        [0, 5],
                        [0, 6],
                        [0, 7],
                        [0, 8],
                        [0, 9],
                    ];
                    likehtml = "";
                    var img = "";
                    var title = "";
                    var author = "";
                    var description = "";
                    var publisher = "";
                    var publishdate = "";
                    var url = "";
                    var starttable =
                        '<table class="table table-borderless table-dark" style="border-radius: 15px;">' +
                        "<thead>" +
                        "<tr>" +
                        '<th scope="col">#</th>' +
                        '<th scope="col">Likes</th>' +
                        '<th scope="col">Image</th>' +
                        '<th scope="col">Title</th>' +
                        '<th scope="col">Author</th>' +
                        '<th scope="col">Publisher</th>' +
                        '<th scope="col">Publish Date</th>' +
                        '<th scope="col">URL</th>' +
                        "</tr>" +
                        "</thead>" +
                        "<tbody>";
                    var endtable = "</tbody> </table>";
                    var html = "";

                    $.get(
                        "https://www.googleapis.com/books/v1/volumes?q=" + search,
                        function (response) {
                            console.log(response);
                            if (!response.totalItems) {
                                $("#result").html(
                                    "<h2>'" + search + "' not found.</h2>"
                                );
                            }
                            html += starttable;
                            for (
                                i = 0;
                                i < response.items.length;
                                i++ //items is name of array
                            ) {
                                //like button and counter
                                likehtml =
                                    '<a onclick="like(' +
                                    i +
                                    ')"><i class="fas fa-heart" style="color:#eb4848;"></i></a>' +
                                    '<span id="like' +
                                    i +
                                    '"> 0</span>';
                                //get title of book
                                title = response.items[i].volumeInfo.title;
                                //get author
                                author = response.items[i].volumeInfo.authors;
                                //get desc
                                description = response.items[i].volumeInfo.description;
                                //get publisher
                                publisher = response.items[i].volumeInfo.publisher;
                                //get pubdate
                                publishdate =
                                    response.items[i].volumeInfo.publishedDate;
                                //get book img
                                imgurl =
                                    response.items[i].volumeInfo.imageLinks.thumbnail;
                                img =
                                    '<img src="' + imgurl + '"width="60" height="80">';
                                //get book url
                                url =
                                    '<a href="' +
                                    response.items[i].volumeInfo.infoLink +
                                    '"><button class="btn btn-success">Read</button></a>';
                                row =
                                    '<tr id="row' +
                                    i +
                                    '"> <th scope="row">' +
                                    (i + 1) +
                                    "</th> " +
                                    "<td>" +
                                    likehtml +
                                    "</td> " +
                                    '<td id="img' +
                                    i +
                                    '">' +
                                    img +
                                    "</td> " +
                                    '<td id="title' +
                                    i +
                                    '">' +
                                    title +
                                    "</td> " +
                                    "<td>" +
                                    author +
                                    "</td> " +
                                    "<td>" +
                                    publisher +
                                    "</td> " +
                                    "<td>" +
                                    publishdate +
                                    "</td> " +
                                    '<td id="url' +
                                    i +
                                    '">' +
                                    url +
                                    "</td> " +
                                    "</tr>";
                                html += row;
                            }
                            html += endtable;
                            $("#result").append(html);
                        }
                    );
                }
                return false;
            });
        });
        function like(i) {
            likes[i][0]++;
            $("#like" + i).text(" " + likes[i][0]);
            console.log("like" + i + "=" + likes[i][0]);
        }
        function cmp(a, b) {
            return ("" + a[0]).localeCompare("" + b[0]);
        }
        function modal() {
            if (isSearched) {
                $("#modalbody").text("");
                var likesM = likes.slice();
                likesM.sort(cmp);
                likesM.reverse();
                console.log(likesM);
                console.log(likes);
                var modalhtml =
                    '<div class="table-responsive">' +
                    '<table class="table table-borderless" style="border-radius: 15px;">' +
                    "<thead>" +
                    "<tr>" +
                    '<th scope="col">Likes</th>' +
                    '<th scope="col">Image</th>' +
                    '<th scope="col">Title</th>' +
                    '<th scope="col">URL</th>' +
                    "</tr>" +
                    "</thead>" +
                    "<tbody>";
                for (i = 0; i < 5; i++) {
                    modalhtml += "<tr>";
                    modalhtml +=
                        "<td>" +
                        likesM[i][0] +
                        "</td> " +
                        "<td>" +
                        $("#img" + likesM[i][1]).html() +
                        "</td> " +
                        "<td>" +
                        $("#title" + likesM[i][1]).text() +
                        "</td> " +
                        "<td>" +
                        $("#url" + likesM[i][1]).html() +
                        "</td> ";
                    modalhtml += "</tr>";
                }
                modalhtml += "</tbody> </table> </div>";
                $("#modalbody").append(modalhtml);
            } else {
            }
        }
    </script>
</html>
