.headerbox {
    color: #e29624;
    font-weight: 900;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.table-responsive{
    color: #e29624 ;
}

#modalbutton.btn.btn-lg.btn-huge {
    margin-top: 3vh;
    background-color: #e29624;
    color: white;
}

.table.table-borderless.table-dark{
    color: #e29624;
}

.btn.btn-success{
    background-color: #e29624;
    color: white;
    border: none;
}